@page "/edit-journey/{JourneyId}"
@rendermode InteractiveServer

<h3>Edit_journey</h3>

<br />
<br />

<input placeholder="destination" @bind="@Journey.Destination" />
<br />
<br />
<input placeholder="nombre de jours" type="number" @bind="@Journey.NbrOfDays" />
<br />
<br />
<InputSelect @bind-Value="@Journey.Seasons">
    @foreach (var item in Enum.GetValues(typeof(Domain.enums.Seasons)))
    {
        <option value="@item">@item</option>
    }
</InputSelect>
<br />
<br />
<button type="submit" class="btn-primary" onclick="@HandleValidSubmit">Edit</button>

