@page "/edit-profile/{UserId}"
@rendermode InteractiveServer

<h3>Edit_profile</h3>

<br />
<br />
<label class="col-form-label col-md-3">
    Profile picture
</label>
<div class="col-md-8">
    <InputFile OnChange="OnInputFileChange" />
</div>

<label class="col-form-label col-md-3">
    First name
</label>
<div class="col-md-8">
    <input placeholder="first name" @bind="@Profile.FirstName" />
</div>

<label class="col-form-label col-md-3">
    Last name
</label>
<div class="col-md-8">
    <input placeholder="first name" @bind="@Profile.LastName" />
</div>


<label class="col-form-label col-md-3">
    Username
</label>
<div class="col-md-8">
    <input placeholder="first name" @bind="@Profile.UserName" />
</div>


<label class="col-form-label col-md-3">
    Email
</label>
<div class="col-md-8">
    <input placeholder="first name" @bind="@Profile.Email" />
</div>


<label class="col-form-label col-md-3">
    Description
</label>
<div class="col-md-8">
    <input placeholder="first name" @bind="@Profile.Description" />
</div>


<br />
<br />

<button type="submit" class="btn-primary" onclick="@HandleValidSubmit">Edit</button>
