@page "/edit-journey/{JourneyId}"
@rendermode InteractiveServer

<h3>Edit_journey</h3>

<br />
<br />
<label class="col-form-label col-md-3">
    Destination
</label>
<div class="col-md-8">
    <input placeholder="destination" @bind="@Journey.Destination" />
</div>
<label class="col-form-label col-md-3">
    Number of days
</label>
<div class="col-md-8">
    <input placeholder="nombre de jours" type="number" @bind="@Journey.NbrOfDays" />
</div>

<label class="col-form-label col-md-3">
    Season
</label>
<div class="col-md-8">
    <InputSelect @bind-Value="@Journey.Seasons">
        @foreach (var item in Enum.GetValues(typeof(Domain.enums.Seasons)))
        {
            <option value="@item">@item</option>
        }
    </InputSelect>
</div>
<br />
<br />
<button type="submit" class="btn-primary" onclick="@HandleValidSubmit">Edit</button>

