@page "/Profile/{Id}"

<a href="@("/edit-profile/" + User.Id)">Edit profile</a>
<br />
<br />

<h3>Mon profil</h3>

@if (User == null)
{
    <p><em>Loading...</em></p>
}

<br />
<br />

<h4>@User.UserName</h4>

<br />
<br />
<h5>@User.Description</h5>
<br />
<br />

<a href="@("/add-journey/" + User.Id)">Add journey to your profile</a>

<br />
<br />

@foreach (var item in Journeys)
{
    <h4>@item.Destination</h4>
    <h4>@item.NbrOfDays jours</h4>
    <h4>@item.Seasons</h4>
    <br />
    <td><a href="@("/journey/" + item.Id)">Voir plus</a></td>
    <br />
    <br />

}