@page "/Profile/{Id}"

<h3>Mon profil</h3>

@if (User == null)
{
    <p><em>Loading...</em></p>
}


<p>@User.UserName</p>

@foreach (var item in Journeys)
{
    <h4>@item.Destination</h4>
    <h4>@item.NbrOfDays jours</h4>
    <h4>@item.Seasons</h4>
    <td><a href="@("/journey/" + item.Id)">Voir plus</a></td>

}