@page "/simplesearch"
@rendermode InteractiveServer

<h3>SimpleSearch</h3>

<br />
<br />
<br />

<input placeholder="key word" @bind="@SearchByKeyWord.KeyWord" />
<button type="submit" class="btn-primary" onclick="@HandleValidSubmit">search</button>

<br />
<br />
<br />

<h4>@ErrorMsg</h4>

@if (Users != null)
{
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Users)
            {
                <tr>

                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.UserName</td>

                    <td><a href="@("/profile/" + item.Id)">View profile</a></td>
                </tr>
            }
        </tbody>
    </table>
}
