@page "/simplesearch"
@rendermode InteractiveServer

<h3>SimpleSearch</h3>

<br />
<br />
<br />

<input placeholder="entrer un mot clé" @bind="@SearchByKeyWord.KeyWord"/>
<button type="submit" class="btn-primary" onclick="@HandleValidSubmit">rechercher</button>

<br />
<br />
<br />

@if(Users != null)
{
    @foreach (var item in Users)
    {
        <h4>@item.UserName</h4>
        <h4>@item.FirstName</h4>
        <h4>@item.LastName</h4>
        <h4>@item.Email</h4>
        <h4>@item.Role</h4>
        <a href="@("/profile/" + item.Id)">Voir profil</a>

        <br />
        <br />
        @foreach (var journeys in item.Journeys)
        {
            <h3>@journeys.Destination</h3>
            <h3>@journeys.NbrOfDays</h3>
            <h3>@journeys.Seasons</h3>
        }

    }
}

